{% extends 'brand/main.html' %}

{% block content %}

<h1>Requests</h1>
<hr>

<div class="w3-container">
  
    <div class="w3-card-4" style="width:80%">
      <header class="w3-container w3-light-grey">
        <h3>John Doe</h3>
      </header>
      <div class="w3-container w3-white">
        <p>1 new friend request</p>
        <hr>
        <img src="/static/images/ba3.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <p>CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.</p><br>
      </div>
      <button class="w3-button w3-block w3-dark-grey">view</button>
    </div>
  </div>

{% endblock %}
